*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.2);
  height: var(--mark-size);
  background-color: black;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x:after {
  transform: rotate(-45deg);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.2);
  height: var(--mark-size);
  background-color: lightgray;
}

.board.x .cell:hover::before {
  transform: rotate(45deg);
}
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background-color: black;
}

.cell.o::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background-color: lightgray;
}

.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.victory-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4rem;
  color: white;
}

.victory-modal.show {
  display: flex;
}

.victory-modal button {
  width: 15rem;
  height: 5rem;
  font-size: 3rem;
  cursor: pointer;
}

.victory-modal button:hover {
  background-color: black;
  color: white;
}
