.parent {
  background-color: darksalmon;
  color: darkblue;
  font-size: 25px;
  padding: 1rem;
  margin-top: 50px;
  position: relative;
  height: 200vh;
}
.child {
  font-size: 20px;
  margin: 10px;
  height: 50px;
}
.child-1 {
  background-color: blanchedalmond;
  position: sticky;
  top: 0;
  right: 0;
}
.child-2 {
  background-color: aqua;
  position: sticky;
  top: 0;
  right: 0;
}
.child-3 {
  background-color: burlywood;
}
div {
  font-size: 30px;
  font-weight: bold;
}
