:root {
  --primary: #707070;
  --btn-hover: #ffdf6c;
  --btn: #c4c4c4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  direction: rtl;
  font-family: Shabnam;
}

.container {
  /* max-width: 88rem; */
  width: 80vw;
}

header {
  background-color: var(--primary);
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  padding: 0 10vw;
  position: relative;
}

header nav {
  flex: 4;
  position: relative;
  height: 100%;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}

header ul li {
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

header ul li::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 10%;
  width: 80%;
  height: 0.1rem;
  background-color: var(--btn-hover);
  display: none;
}

header ul li:hover {
  cursor: pointer;
  color: var(--btn-hover);
}

header ul li:hover::after {
  display: block;
}

header section {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

header section button {
  padding: 0.2rem 1rem;
  margin: 0 0.5rem;
  min-width: 6rem;
  min-height: 1.8rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  line-height: 0.5rem;
  cursor: pointer;
  font-family: Shabnam;
  background-color: var(--btn);
  border: none;
}

header section button:hover {
  background-color: var(--btn-hover);
}

main {
  min-height: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  margin: 5rem auto;
}

main article:first-child {
  grid-column: span 2;
}

main article:first-child img {
  height: auto;
  width: 100%;
}

main article {
  position: relative;
  height: 30rem;
  overflow: hidden;
  border-radius: 0.2rem;
}

main article img {
  height: 100%;
}

main article h2 {
  position: absolute;
  bottom: 6rem;
  right: 1rem;
  color: whitesmoke;
  font-size: 1.5rem;
}

main article p {
  color: rgb(230, 230, 230);
  position: absolute;
  bottom: 4rem;
  right: 1rem;
}

.suggested {
  background-color: blueviolet;
  min-height: 10rem;
}

.articles {
  background-color: brown;
  min-height: 10rem;
}
